[package]
name = "meowping"
version = "1.6.9"
authors = ["Entytaiment25"]
edition = "2021"
rust-version = "1.76"
description = "A simple ping utility written in Rust, that is focused on being size efficient and fast."
repository = "https://github.com/entytaiment25/meowping"
license = "MIT"
keywords = [
    "ping",
    "utility",
    "networking",
    "meowping",
    "command-line-utilities",
]
categories = ["networking", "ping", "utility", "command-line-utilities"]
readme = "README.md"
build = "build.rs"

[profile.dev]
opt-level = 0
overflow-checks = false

[profile.release]
codegen-units = 1
lto = "fat"
overflow-checks = true
opt-level = "s"        # "z" for other size optimization
panic = "abort"
strip = "symbols"

[dependencies]
url = { version = "2.5.2", default-features = false } # no dependencies
pico-args = { version = "0.5.0", default-features = false } # no dependencies
jzon = { version = "0.12.5", default-features = false } # no dependencies
ping = { version = "0.5.2", default-features = false } # 3 dependencies
anyhow = "1.0.86" # no dependencies
minreq = { version = "2.12.0", features = [] } # 1 dependencies

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = [
    "consoleapi",
    "processenv",
    "winbase",
    "wincon",
] } # 2 dependencies

[target.'cfg(windows)'.build-dependencies]
windres = "0.2.2" # 2 dependencies
