[package]
name = "meowping"
version = "1.7.1"
authors = ["Entytaiment25"]
edition = "2024"
rust-version = "1.85.1"
description = "A simple ping utility written in Rust, that is focused on being size efficient and fast."
repository = "https://github.com/entytaiment25/meowping"
license = "MIT"
keywords = [
    "ping",
    "utility",
    "networking",
    "meowping",
    "command-line-utilities",
]
categories = ["networking", "ping", "utility", "command-line-utilities"]
readme = "README.md"
build = "build.rs"

[profile.dev]
opt-level = 0
overflow-checks = false

[profile.release]
codegen-units = 1
lto = "fat"
overflow-checks = true
opt-level = "s"
panic = "abort"
strip = "symbols"

[dependencies]
pico-args = { version = "0.5.0", default-features = false }
jzon = { version = "0.12.5", default-features = false }
ping = { version = "0.5.2", default-features = false }
anyhow = "1.0.97"
native-tls = "0.2.14"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = [
    "consoleapi",
    "processenv",
    "winbase",
    "wincon",
] }

[target.'cfg(windows)'.build-dependencies]
windres = "0.2.2"
