name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: windows-latest
            target: i686-pc-windows-gnu
          - os: windows-latest
            target: i686-pc-windows-msvc
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
          - os: windows-latest
            target: x86_64-pc-windows-gnu
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - if: matrix.os == 'windows-latest'
        shell: bash
        run: |
          echo "OPENSSL_DIR=C:\Program Files\OpenSSL" >> $GITHUB_ENV
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
